*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 800px;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  width: 1140px;
  height: 534px;
  margin: 200px 30px;
  display: flex;
  align-items: end;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__list {
  height: 297px;
  overflow-y: auto;
}

.content__details {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 102px;
  padding-top: 4px;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
}

.content__list {
  position: relative;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 5px;
}

.title {
font-family: Oswald;
font-size: 75px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0em;
text-align: left;
text-transform: uppercase;
}

.content__accent {
  color:rgba(255, 255, 255, 0.2)
}

.content__card-link {
  color:#fff;
  text-decoration: none;
  display: block;
  min-height: 107px;
  margin: 2px; 
}

.content__card-link_current{
  background-color: rgba(255, 255, 255, 0.2);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid white;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  padding-top: 7px;
  padding-left: 2px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 6px;
  padding-left: 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

input {
  font-family: inherit; 
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  background-color: transparent;
}

.search-form__textfield {
  min-width: 225px;
  min-height: 27px;
  appearance: none;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.search-form__textfield:active {
  border: 1px solid white;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  width: 213px;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  background-color: transparent;
  border: 1px solid white;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

input[type="checkbox"]:checked + span::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
}

.button {
  cursor: pointer;
  height: 33px;
  background-color: transparent;
  border: 1px solid white;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: white
}

.search-form__submit-button {
  min-width: 194px;
  align-self: end;
}

.more-button {
  width: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

